<div class="col-lg-8">
  <div class="card shadow-sm rounded-lg h-100">
    <div class="card-body p-4">
      <div class="cma-section mb-3">
        <h5 class="card-title m-0">Comparative Market Analysis (CMA)</h5>
      </div>


      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
          <tr class="border-bottom">
            <th scope="col">PROPERTY ADDRESS</th>
            <th scope="col">RENT</th>
            <th scope="col">LISTED DATE</th>
            <th scope="col">PRICE PER SQ FT</th>
            <th scope="col">BEDROOMS</th>
            <th scope="col">BATHROOMS</th>
            <th scope="col">SQ FT</th>
            <th scope="col">DISTANCE</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td colspan="8" class="text-center text-muted py-5">No data found</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
