<div class="col-lg-8">
  <div class="card shadow-sm rounded-lg h-100">
    <div class="card-body">
      <h4 class="card-title fw-bold mb-4">Historical AVM Values</h4>
      <div class="tab-content" id="avmHistoryTabContent">
        <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="table-tab">
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead class="text-muted text-uppercase small">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">AVM Value</th>
                <th scope="col">Low Estimate</th>
                <th scope="col">High Estimate</th>
                <th scope="col">AVM Value Change</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="fw-bold">2016-01-01</td>
                <td>$388,000</td>
                <td>$331,000</td>
                <td>$445,000</td>
                <td>None</td>
              </tr>
              <tr>
                <td class="fw-bold">2024-03-21</td>
                <td>$704,249</td>
                <td>$697,206</td>
                <td>$711,291</td>
                <td>9.72%</td>
              </tr>
              <tr>
                <td class="fw-bold">2024-04-27</td>
                <td>$736,909</td>
                <td>$729,539</td>
                <td>$744,278</td>
                <td>0.55%</td>
              </tr>
              <tr>
                <td class="fw-bold">2024-05-21</td>
                <td>$759,132</td>
                <td>$751,540</td>
                <td>$766,723</td>
                <td>0.36%</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
