@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;500;600;700&display=swap');




body {
 font-family: Inter, Roboto, Helvetica, Arial, sans-serif;;
}
 
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.light {
  --bgColor:#000000;
}